<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{common/fragment::headerFragment}"></th:block>
    <title>장바구니</title>

<style>
    body {margin: 0px;}
    table, td {
        border: 1px solid green;
        border-collapse: collapse;
    }
    tr td{
        text-align: center;
    }
    thead td{
        text-align: center;
    }


</style>
<body>
<div th:insert="~{common/fragment::navi}"></div>
<div class="container">
    <div class="row justify-content-center">

        <div class="card mt-2 col-lg-3" th:each="itemList : ${list}">
            <a th:href="@{/cart/detail(productId=${itemList.productId})}">
                <img th:src="@{'/images/'+${itemList.productId} + '.jpg'}" class="card-img-top"/>
            </a>
            <a th:href="@{/cart/detail(productId=${itemList.productId})}" style="text-decoration: none;">[[${itemList.productName}]]</a>
            <div th:text="${itemList.productPrice} +'원'"></div>
         
        </div>
 
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>