<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{common/fragment::headerFragment}"></th:block>
    <title>MY배송지</title>
    
<style>

body {margin: 0px;}
div {box-sizing: border-box;}
table, td{
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    border-collapse: collapse;
        
}
        
        
</style>        
</head>
<body>
<div th:insert="~{common/fragment::navi}"></div>
<div class="container">
    <div style=" height: 50px; background-color: #eee; color:darkgray;text-align: center;padding-top: 10px; font-size: xx-large; font-weight: 900;">
    MY배송지
    </div>    

    <div style="height: 30px;"></div>
    <div class="row justify-content-end">
        <div class="col-auto"> 
        <a href="/address/addAddress" style="text-decoration: none; margin-bottom: 30px;">
            <button class="btn btn-outline-secondary" >+ 새 배송지 추가</button>
        </a>
        </div>
    </div>
    <div style="height: 30px;"></div>
 

    <table class="table">
        <thead>
            <th></th>
            <th>주소별칭</th>
            <th>받는 분</th>
            <th>배송주소</th>
            <th>연락처</th>
            <th>관리</th>
        </thead>
        <tbody>
        <tr th:each="lists : ${list}">
            <td><input type="radio" name="deliverySeq"  th:value="${lists.deliverySeq}" th:checked="${lists.basicYn eq 'Y'}"  ></td>
            <td th:text="${lists.aliasNm}">주소별칭</td>
            <td th:text="${lists.receiverNm}">받는 분</td>
            <td>
                <div>[[${lists.addrMain}]]</div>
                <div>[[${lists.addrDetail}]] [[${lists.addrRef}]]</div>
            </td>
            <td th:text="${lists.cellNum}">연락처</td>
            <td>
            <a th:href="@{/address/revise(deliverySeq=${lists.deliverySeq})}" style="text-decoration: none;"> 
                <input type="button" value="수정">
            </a>
            <a th:href="@{/address/delete(deliverySeq=${lists.deliverySeq})}" style="text-decoration: none;">     
                <input type="button" value="삭제">
            </a>  
            </td>
        </tr>
        </tbody>
    </table>

    <div style="height: 30px;"></div>


    <button class="btn btn-outline-secondary" onclick="ajaxSetting()">기본 배송지 설정</button>
 
</div>



<script>

function ajaxSetting(){

    var chk = $("input[name=deliverySeq]:checked").val();
    
    if(chk==null){
        alert('주소를 선택해주세요.');
        return;
    }

   

    $.ajax({
        url: "/address/ajaxSetting", 
        contentType: 'application/json',
        data: {deliverySeq: $("input[name=deliverySeq]:checked").val()    },
        success: function( result ) {
            
            if(result==1){
                alert('변경되었습니다.');
            };
    

        } 

    });

}








</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>